.main{
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20220717/pngtree-copper-water-bottle-sitting-on-picnic-table-drink-rustic-container-photo-image_32754684.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main h1{
    font-size: 4rem;    
    color: #fff;
}
.line{
    font-size: 18px;
    color: #fff;
}
.mbtn1{
    height: 50px;
    width: 40%;
    outline: none;
    border: none;
    color: #fff;
    background: rgb(20,219,20);
    border-radius:25px;
}
.mbtn2{
    height: 50px;
    width:40%;
    border-radius: 25px;
    outline: none;
    border: none;
    color: #fff;
    background: rgb(248, 211, 142)
    
    
}

.font-icon {
    height: 60px;
    width: 60px;
}

.mbtn2:hover{
   background-color: rgb(20,219,20); 
   color: #fff;
   border: none;
}


/* About  */
.welcome{
    background: rgb(209, 224, 209);
    
}
.line2{
    height: 6px;
    width: 30%;
    background-color: #fff;
    display:inline-block;
}

.welcome h1{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}
.welcome p{
    font-weight: bold;
    color: #fff;
}

.welcome.card{
    border: none;
    border-radius: 0;
    cursor: pointer;

}
.welcome i{
    font-size: 45px;
    color: rgb(20,219,20);
}