.main{
    background: url('https://cdn.shopify.com/s/files/1/0083/6845/5746/files/81eCvF-6DhL._SL1500_2340db8d-1f46-4522-b3fd-b8aba90705ab_2048x2048.jpg?v=1575051080');
    background-size: cover;
    height: 113vh;
    width: 100%;
}

.main h1{
    font-size: 4rem;    
    color: #fff;
}
.line{
    font-size: 18px;
    color: #fff;
}
.mbtn1{
    height: 50px;
    width: 40%;
    outline: none;
    border: none;
    color: #fff;
    background: rgb(20,219,20);
    border-radius:25px;
}
.mbtn2{
    height: 50px;
    width:40%;
    border-radius: 25px;
    outline: none;
    border: none;
    color: #fff;
    background: rgb(248, 211, 142)
    
    
}

.font-icon {
    height: 60px;
    width: 60px;
}

.mbtn2:hover{
   background-color: rgb(20,219,20); 
   color: #fff;
   border: none;
}


/* About  */
.welcome{
    background: rgb(209, 224, 209);
    
}
.line2{
    height: 6px;
    width: 30%;
    background-color: #fff;
    display:inline-block;
}

.welcome h1{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}
.welcome p{
    font-weight: bold;
    color: #fff;
}

.welcome.card{
    border: none;
    border-radius: 0;
    cursor: pointer;

}
.welcome i{
    font-size: 45px;
    color: rgb(20,219,20);
}